.sudotable { border-collapse: collapse; font-family: Calibri, sans-serif; table-layout: fixed; width: 54em !important;}
.sudocol, .sudotbody { border: solid medium; }
.sudotd { border: solid thin; height: 5.4em; width: 5.4em; text-align: center; padding: 0;}

.hover-underline-menu {
  background-color: black;
  padding-top:10px;
  padding-bottom:10px;
}
