<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compressed CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
  <link rel="stylesheet" href="../static/stylesheets/app.css">
  <title>Homepage</title>
</head>
<body>
  <nav class="hover-underline-menu" data-menu-underline-from-center>
    <ul class="menu align-center">
      <li><a href="/home">Home</a></li>
      <li><a href="/about">Account</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <div class="funds">
    Coins: <div class="mirtext" id="coins">{{ coins }}</div><br>
  </div>
  <center>
    Broccoli: <div class="mirtext" id="broc">0</div><br>
    <button id="gbutton" class="mirbutton">Click to Grow Broccoli</button>
    <button id="sellbutton" class="mirbutton">Click to Sell Broccoli</button>
  </center>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    var ele = document.getElementById("broc");
    var clicker = function() {
      var broc = document.getElementById("broc").innerHTML;
      var num = broc;
      //console.log(typeof broc)
      //console.log(parseInt(broc))
      num++;
      ele.innerHTML = num;
    };
    var sell = function() {
      //console.log(document.getElementById("broc").innerHTML)
      $.ajax({
        url: '/makeItRain/sell',
        type: 'GET',
        data: {'coins': document.getElementById("broc").innerHTML.toString()}
      });
      var broc = document.getElementById("broc").innerHTML;
      var coins = document.getElementById("coins");
      //console.log(parseInt(coins.innerHTML) + 1);
      coins.innerHTML = parseInt(coins.innerHTML) + parseInt(broc);
      ele.innerHTML = 0;
    }
    var button = document.getElementById("gbutton");
    button.addEventListener('click', clicker);
    var sbutton = document.getElementById("sellbutton");
    sbutton.addEventListener('click', sell);
  </script>
</body>
