<html>
    <head>
        <title>Roulette Wheel</title>
        <link rel="stylesheet" href="../static/stylesheets/main.css" type="text/css" />
        <script type="text/javascript" src="../static/scripts/Winwheel.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    </head>
    <body>
        <div align="center">
            <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <div class="power_controls">
                        <img id="spin_button" src="../static/images/spin_off.png" alt="Spin" onClick="startSpin();" />
                        <br /><br />
                        &nbsp;&nbsp;<a href="#" onClick="resetWheel(); return false;">Play Again</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </td>
                <td width="438" height="582" class="the_wheel" align="center" valign="center">
                    <canvas id="canvas" width="434" height="434">
                        <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                    </canvas>
                </td>
            </tr>
        </table>
        <style>
          #divleft{
            width: 45%;
            height: 500px;
            float: left;
          }

          #divright{
            width: 45%;
            height: 500px;
            float: left;
          }
        </style>
        <script>
            // Create new wheel object specifying the parameters at creation time.
            let theWheel = new Winwheel({
                'outerRadius'     : 212,        // Set outer radius so wheel fits inside the background.
                'innerRadius'     : 75,         // Make wheel hollow so segments don't go all way to center.
                'textFontSize'    : 12,         // Set default font size for the segments.
                'textOrientation' : 'vertical', // Make text vertial so goes down from the outside of wheel.
                'textAlignment'   : 'outer',    // Align text to outside of wheel.
                'numSegments'     : 37,         // Specify number of segments.
                'segments'        :           // Define segments including colour and text.
                [                               // font size and test colour overridden on backrupt segments.
                   {'fillStyle' : 'green', 'text' : '0'},
                   {'fillStyle' : 'red', 'text' : '1'},
                   {'fillStyle' : 'black', 'text' : '2'},
                   {'fillStyle' : 'red', 'text' : '3'},
                   {'fillStyle' : 'black', 'text' : '4'},
                   {'fillStyle' : 'red', 'text' : '5'},
                   {'fillStyle' : 'black', 'text' : '6'},
                   {'fillStyle' : 'red', 'text' : '7'},
                   {'fillStyle' : 'black', 'text' : '8'},
                   {'fillStyle' : 'red', 'text' : '9'},
                   {'fillStyle' : 'black', 'text' : '10'},
                   {'fillStyle' : 'red', 'text' : '11'},
                   {'fillStyle' : 'black', 'text' : '12'},
                   {'fillStyle' : 'red', 'text' : '13'},
                   {'fillStyle' : 'black', 'text' : '14'},
                   {'fillStyle' : 'red', 'text' : '15'},
                   {'fillStyle' : 'black', 'text' : '16'},
                   {'fillStyle' : 'red', 'text' : '17'},
                   {'fillStyle' : 'black', 'text' : '18'},
                   {'fillStyle' : 'red', 'text' : '19'},
                   {'fillStyle' : 'black', 'text' : '20'},
                   {'fillStyle' : 'red', 'text' : '21'},
                   {'fillStyle' : 'black', 'text' : '22'},
                   {'fillStyle' : 'red', 'text' : '23'},
                   {'fillStyle' : 'black', 'text' : '24'},
                   {'fillStyle' : 'red', 'text' : '25'},
                   {'fillStyle' : 'black', 'text' : '26'},
                   {'fillStyle' : 'red', 'text' : '27'},
                   {'fillStyle' : 'black', 'text' : '28'},
                   {'fillStyle' : 'red', 'text' : '29'},
                   {'fillStyle' : 'black', 'text' : '30'},
                   {'fillStyle' : 'red', 'text' : '31'},
                   {'fillStyle' : 'black', 'text' : '32'},
                   {'fillStyle' : 'red', 'text' : '33'},
                   {'fillStyle' : 'black', 'text' : '34'},
                   {'fillStyle' : 'red', 'text' : '35'},
                   {'fillStyle' : 'black', 'text' : '36'},
                ],
                'animation' :           // Specify the animation to use.
                {
                    'type'     : 'spinToStop',
                    'duration' : 3,    // Duration in seconds.
                    'spins'    : 3,     // Default number of complete spins.
                    'callbackFinished' : alertPrize
                }
            });

            let wheelSpinning = false;

            // -------------------------------------------------------
            // Click handler for spin button.
            // -------------------------------------------------------
            function startSpin()
            {
                // Ensure that spinning can't be clicked again while already running.
                if (wheelSpinning == false) {

                    // Disable the spin button so can't click again while wheel is spinning.
                    document.getElementById('spin_button').src       = "../static/images/spin_off.png";
                    document.getElementById('spin_button').className = "";

                    // Begin the spin animation by calling startAnimation on the wheel object.
                    theWheel.startAnimation();

                    // Set to true so that power can't be changed and spin button re-enabled during
                    // the current animation. The user will have to reset before spinning again.
                    wheelSpinning = true;
                }
            }

            // -------------------------------------------------------
            // Function for reset button.
            // -------------------------------------------------------
            function resetWheel()
            {
                theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
                theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
                wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.
            }

            // -------------------------------------------------------
            // Called when the spin animation has finished by the callback feature of the wheel because I specified callback in the parameters.
            // -------------------------------------------------------
            function alertPrize(indicatedSegment)
            {
                // Just alert to the user what happened.
                // In a real project probably want to do something more interesting than this with the result.
                if (indicatedSegment.text == 'LOOSE TURN') {
                    alert('Sorry but you lose a turn.');
                } else if (indicatedSegment.text == 'BANKRUPT') {
                    alert('Oh no, you have gone BANKRUPT!');
                } else {
                    alert("You have won " + indicatedSegment.text);
                }
            }
        </script>
      <div id="divleft">
        <div id="divleftcontainer">
          <p>Click the button to display a random number between 0 and 36.</p>
          <button onclick="myFunction()">Try it</button>
          <p id="demo"></p>
          <p>Result:</p> <p id="results"></p>
          <p id="rollAmount"></p>
          <p> Last 20 Results: </p>
          <p id="test"></p>
          <p> Current colour streak:</p>
          <p id="colourRows"></p>
        </div>
      </div>
      <div id="divright">
        <div id="divrightcontainer">
          <p>Your Money</p>
          <p style="display:inline">&dollar;<p style="display:inline" id="moneyPouch"></p></p>
          <input type="number" id="theBet" value="10"><br />
          <input type="radio" name="colour" id="blackColour" value="black">Black<br />
          <input type="radio" name="colour" id="redColour" value="red">Red<br />
          <input type="radio" name="colour" id="green" value="green">Green<br />
          <input type="radio" name="colour" id="noColour" value="none" checked="checked">None<br />
        </div>
      </div>
      <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-30d18ea41045577cdb11c797602d08e0b9c2fa407c8b81058b1c422053ad8041.js"></script>
      <script src="../static/scripts/wheel.js"></script>
    </body>
</html>
