<!DOCTYPE html>
<html lang="en">

<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Compressed CSS -->
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
      <link rel="stylesheet" href="../static/stylesheets/app.css"> -->
      <title>Roulette</title>
  </head>
  <body>
    <p id ="demo"></p>

    <button id="1">random number</button>
    <form action="/" method="POST">
      <input class="singlebet-box-input" type="text" name="single" placeholder="number 0-36" required>
      <input class="singlebet-box-submit-button" type="submit" name="submit_button" value="bet">
      <input type="submit" name="submit_button" value="12P(from 1 to 12)">
      <input type="submit" name="submit_button" value="12M(from 13 to 24)">
      <input type="submit" name="submit_button" value="12D(from 25 to 36)">
      <input type="submit" name="submit_button" value="even">
      <input type="submit" name="submit_button" value="odd">
      <input type="submit" name="submit_button" value="red">
      <input type="submit" name="submit_button" value="black">
    </form>

    <script src="../static/wheel.js"></script>
  </body>
</html>
